{{define "header"}}
    <header>
        <nav>
         <a herf="/"><h1>직지토큰</h1></a>
         <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/add">add</a>
          </li>
         </ul>
        </nav>      
        <h1>{{.}}</h1>
    </header>
{{end}}
